@font-face{
    font-family: 'digital-7';
    src: url('digital-7.woff2') format('woff2'),
            url('digital-7.woff') format('woff'),
            url('digital-7.ttf') format('truetype');
}

button{
    /* font-family: 'digital-7'; */
    font-size: 2rem;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 0px solid;
    outline: none;
}

.zero-button{
    width: 120px;
    border-radius: 30px
}

.operators {
    background-color: rgb(255, 187, 0);
    color: white
}

.numbers {
    background-color: rgb(124, 124, 124);
    color: white
}