* {
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: 'digital-7';
    src: url('digital-7.woff2') format('woff2'),
            url('digital-7.woff') format('woff'),
            url('digital-7.ttf') format('truetype');
}

button{
    /* font-family: 'digital-7'; */
    /* font-size: 5rem; */
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 0px solid;
    outline: none;
}

.zero-button{
    width: 400px;
    border-radius: 20px
}

.operators {
    background-color: rgb(255, 187, 0);
}