button{
    font-size: 2rem;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 0px solid;
    outline: none;
}

.calculator{
    display: grid;
    grid-template: 60px 60px 60px 60px 60px 60px / 60px 60px 60px 60px;
}

.operators {
    background-color: rgb(255, 187, 0);
    color: white
}

.numbers {
    background-color: rgb(124, 124, 124);
    color: white
}

.button-0{
    width: 120px;
    border-radius: 30px
}

.button-clear{
    font-size: 1.5rem;
}

.button-sign{
    
}

.button-percent{
    
}

.button-divide{
    
}

.button-multiply{
    
}

.button-add{
    
}

.button-subtract{
    
}

.button-equals{
    
}

.button-dot{
    
}

.button-0{
    
}

.button-1{
    
}

.button-2{
    
}

.button-3{
    
}

.button-4{
    
}

.button-5{
    
}

.button-6{
    
}

.button-7{
    
}

.button-8{
    
}

.button-9{
    
}